.g-header {
    margin-top: 1rem;
    text-align: center;
}
.g-header h1{
    margin: .2rem 0;
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
}
.g-header h1 + p {
    display: inline-block;
    margin: .2rem 0;
    font-size: .6rem;
    text-align: right;
    font-family: 'Galada', cursive;
}
