.g-header {
    margin-top: 1rem;
    text-align: center;
}
.g-header h1 {
    margin: .2rem 0;
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
}
.g-header h1 + p {
    display: inline-block;
    margin: .2rem 0;
    font-size: .6rem;
    text-align: right;
    font-family: 'Galada', cursive;
}
.g-content {
    margin-top: 1rem;
    text-align: center;
}
.face {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 6rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid #222;
    animation: rotateFace 5s linear infinite;
}
.face .eyes {
    display: inline-block;
    position: absolute;
    width: .6rem;
    height: .8rem;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 50%;
    background: #000;
}
.face .eyes:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 1px;
    width: .3rem;
    height: .35rem;
    border-radius: 50%;
    background: #fff;
}
.face .eyes + .eyes {
    left: 4.3rem;
}
svg {
    position: absolute;
    top: 3.8rem;
    right: 1rem;
    transform: translate3d(0, 0, 0) rotateZ(-6deg);
}

@-webkit-keyframes rotateFace {
    0% {
        transform: translate3d(0,0,0) rotateZ(0)
    }
    100% {
        transform: translate3d(0,0,0) rotateZ(360deg)
    }
}
@-moz-keyframes rotateFace {
    0% {
        transform: translate3d(0,0,0) rotateZ(0)
    }
    100% {
        transform: translate3d(0,0,0) rotateZ(360deg)
    }
}
@-ms-keyframes rotateFace {
    0% {
        transform: translate3d(0,0,0) rotateZ(0)
    }
    100% {
        transform: translate3d(0,0,0) rotateZ(360deg)
    }
}
@-o-keyframes rotateFace {
    0% {
        transform: translate3d(0,0,0) rotateZ(0)
    }
    100% {
        transform: translate3d(0,0,0) rotateZ(360deg)
    }
}
@keyframes rotateFace {
    0% {
        transform: translate3d(0,0,0) rotateZ(0)
    }
    100% {
        transform: translate3d(0,0,0) rotateZ(360deg)
    }
}
